.secnavbar-custom {
  background: orange;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.secnavbar-custom a:focus {
  outline: none;
}
.secnavbar-custom .navbar-brand {
  color: white;
}
.secnavbar-custom .navbar-brand:hover,
.secnavbar-custom .navbar-brand:focus,
.secnavbar-custom .navbar-brand:active,
.secnavbar-custom .navbar-brand.active {
  color: white;
}
.secnavbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.secnavbar-custom .navbar-nav li a {
  color: white;
}
.secnavbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.secnavbar-custom .navbar-nav li a:focus,
.secnavbar-custom .navbar-nav li a:active {
  color: white;
}
.secnavbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.secnavbar-custom .navbar-nav li.active a:hover,
.secnavbar-custom .navbar-nav li.active a:focus,
.secnavbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.secnavbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.secnavbar-custom .navbar-toggle:hover,
.secnavbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .secnavbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .secnavbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .secnavbar-custom.affix {
    padding: 10px 0;
  }
  .secnavbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
    font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	color: black;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	



tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}